.fast-section {
	display: grid;
	grid-template-columns: 1fr;
	@include for-tablet-landscape-up {
		grid-template-columns: 1fr 1fr;
		height: 48vh;
	}
	overflow: hidden;
}
.fast-section__copy {
	padding: $l-size $xl-size $xl-size;
	align-self: center;
}
.fast-section__animation-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 27.2rem;
	@include for-phone-only {
		min-height: initial;
	}
}
.fast-section__animation {
	place-self: center;
	@include for-phone-only {
		display: none;
	}
}
