header.header,
.header__left-content {
	display: flex;
	align-items: center;
}

header.header {
	background: $bg-black;
	min-height: 7.2rem;
	padding: 0 $m-size;
	justify-content: space-between;
	color: #fff;
	box-shadow: $depth-1;
	z-index: 10;
	position: relative;
}

.header__nav,
.header__menu {
	display: flex;
	ul {
		list-style: none;
		text-transform: uppercase;
		letter-spacing: 3px;
		li {
			a {
				text-decoration: none;
				color: #fff;
				opacity: 0.74;
				transition: $default-transition;
				&:hover {
					opacity: 1;
				}
			}
		}
	}
}
.header__nav {
	ul {
		display: none;
		li {
			margin: 0 $s-size;
		}
	}

	@include for-tablet-landscape-up {
		ul {
			display: flex;
			flex-direction: row;
		}
	}
}
.header__menu {
	position: absolute;
	z-index: $z-1;
	background: #000000d6;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	ul {
		padding-inline-start: 0;
		li {
			margin: 0 0 $l-size;
			text-align: center;
			font-size: $l-size;
			font-weight: 800;
		}
	}
}
.header__menu-wrapper {
	@include for-tablet-landscape-up {
		display: none;
		pointer-events: none;
	}
}

.header__right-content {
	button {
		background: none;
		color: #fff;
		outline: none;
		border: none;
		cursor: pointer;
		span {
			margin-right: $s-size;
		}
	}
}

.header__cart-button {
	display: none;
	@include for-tablet-landscape-up {
		display: flex;
		align-items: center;
	}
	span {
		margin-left: $s-size;
	}
}
.header__menu-button {
	display: initial;
	z-index: $z-top;
	position: relative;
	@include for-tablet-landscape-up {
		display: none;
	}
	svg {
		transform-box: fill-box;
		transform-origin: center;
	}
}
