.button__wrapper {
	display: flex;
}

.button {
	height: 4rem;
	padding: 0 $l-size;
	border-radius: 4px;
	cursor: pointer;
	transition: $default-transition;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	display: flex;
	align-items: center;
}

.button--filled {
	@extend .button;
	background: $shiny-purp;
	color: #fff;
	border: none;
	box-shadow: $depth-1;
	&:hover {
		box-shadow: $depth-2;
	}
}

.button--outline {
	@extend .button;
	background: none;
	border: 1px solid #fff;
	color: #fff;
	&:hover {
		box-shadow: $depth-1;
	}
}

.button--large {
	@extend .button;
	padding: 0 $xl-size;
	height: 5.6rem;
}

.button--no-style {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
}
