.form {
	flex-direction: column;
	display: flex;
	label {
		text-transform: uppercase;
		font-weight: 700;
	}
	textarea,
	input {
		border: 1px solid $pale-purp-gray;
		border-radius: 4px;
		margin: $s-size 0 $m-size;
		// color: $blue-01;
		padding: $s-size $m-size;
	}
}
