.contact {
	display: flex;
	justify-content: center;
	color: $bg-black;
	padding: $l-size 0 $xl-size;
}

.contact__content {
	display: grid;
	grid-template-columns: 1fr;
	padding: 0 $m-size 0;
	@include for-tablet-landscape-up {
		grid-template-columns: 36rem 36rem;
	}
	column-gap: 4.8rem;
}

.contact__info {
	h3 {
		text-transform: uppercase;
		font-size: $m-size;
		margin: 0;
	}
	p {
		margin: $s-size 0 $l-size;
	}
}

.contact__form {
	form {
		input,
		textarea {
			border: 1px solid #000;
		}
	}
	button {
		border-color: #000;
		color: #000;
	}
	p {
		line-height: $leading-normal;
		margin-top: $l-size;
	}
}
