.product {
	display: grid;
	grid-template-columns: 1fr;
	@include for-tablet-landscape-up {
		grid-template-columns: 1fr 1fr;
	}
	z-index: 0;
	position: relative;
	div {
		position: relative;
	}
}

.product__header-info {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	color: #fff;
	@include for-tablet-landscape-up {
		top: $l-size;
		left: $l-size;
	}
	h1,
	div {
		background: $shiny-purp--o74;
		margin: 0;
		padding: $s-size $s-size $m-size;
	}
	div {
		display: inline-block;
	}
}

.product__right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: $m-size $l-size $xl-size;
	p {
		margin-bottom: $l-size;
		font-size: $l-size;
		opacity: 0.84;
		font-weight: 500;
	}
	a {
		color: $dark-purp-gray;
		margin-top: $xl-size;
	}
}
.product__left {
	background: $pale-purp-gray--o12;
}
